{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <style type="text/css">
    h1{
      font-size: 60px;
      margin-top: 5px;
    }
    h3{
      margin-top: 0;
    }

    .time-since{
      font-size: 25px;
      display: block;
    }

    .bid{
      white-space: normal;
    }

    .order-row{
      display: table;
      table-layout: fixed;
    }
    .order-col{
      display: table-cell;
      vertical-align: middle;
     float: none;
    }

    .uberstuff img{
      float: left;
    }
    .uberstuff span{
      vertical-align: -webkit-baseline-middle;
    }


  </style>
{% endblock %}

{% block content %}

  <script src="{% static 'moment.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.1/JSXTransformer.js"></script> -->

<!-- <script src="{% static 'single-page-react.js' %}"></script>
 -->
<!-- Set which DOM element to insert React components into -->
<script src="{% static 'reactapp_accepted.js' %}" type="text/babel"></script>

<script type="text/babel">
$(document).ready(function(){

  ReactDOM.render(
    React.createElement(Home, {'get_url': 
      "{% url 'get_acc_orders' pk=user.restaurant.id %}",
      'uber_url': "{% url 'call_uber' %}",
      'locationData': {
        'slat': {{user.restaurant.latitude}},
        'slng': {{user.restaurant.latitude}},
        'elat': 37.8072637,
        'elng': -122.4294352
      },
      'restaurant_id': {{user.restaurant.id}},
      "pollInterval": 500}),
    $("#reactapp")[0]
  );
});
</script>

<!-- Bring in the home react component -->

<div class="container">
<h1>Your Accepted Orders</h1>
  <hr>
<div id="reactapp"> 
</div>
</div>

{% endblock %}