{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <style type="text/css">
    h1{
      font-size: 60px;
      margin-top: 5px;
    }

    .time-left{
      font-size: 50px;
      display: block;
    }

    .bid{
      white-space: normal;
    }

    .order-row{
      display: table;
      table-layout: fixed;
    }
    .order-col{
      display: table-cell;
      vertical-align: middle;
     float: none;
    }


  </style>
{% endblock %}

{% block content %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.1/JSXTransformer.js"></script> -->

<!-- <script src="{% static 'single-page-react.js' %}"></script>
 -->
<!-- Set which DOM element to insert React components into -->
<script src="{% static 'reactapp.js' %}" type="text/babel"></script>

<script type="text/babel">
$(document).ready(function(){

  ReactDOM.render(
    React.createElement(Home, {'url': 
      "{% url 'get_orders' pk=user.restaurant.id %}",
      "pollInterval": 100000000}),
    $("#reactapp")[0]
  ); 
});
</script>

<!-- Bring in the home react component -->


<h1>Current Orders</h1>
  <hr>
<div class="container" id="reactapp"> 
</div>

{% endblock %}