{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <style type="text/css">
    .jumbotron {
        background: #532f8c;
        color: white;
        padding-bottom: 80px
    }
    .jumbotron .btn-primary {
        background: #845ac7;
        border-color: #845ac7
    }
    .jumbotron .btn-primary:hover {
        background: #7646c1;
    }
    .jumbotron p {
        color: #d9ccee;
        max-width: 75%;
        margin: 1em auto 2em
    }
    .navbar+.jumbotron {
        margin-top: -20px
    }
    .jumbotron .lang-logo {
        display: block;
        background: #e74c3c;
        border-radius: 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: auto;
        border: 2px solid white
    }
    .jumbotron .lang-logo img {
        max-width: 100%
    }

    #howItWorks ol{
      font-size: 18px;
    }
    #howItWorks li{
      margin-bottom: 10px;
    }

  </style>
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'surge-logo.png'%}">
    </a>
    <h1>Any food, anywhere.</h1>
    <p>Get meals delivered from nearby restaurants for cheap, without the decision fatigue.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Hungry? Get the app.</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-glass"></span> Are you a restuarant?</a>
  </div>
</div>
<div class="container">
  <div class="row" id="howItWorks">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How it works (users)</h3>
      <ol>
        <li>You place your order, easily choosing what features you'd like your meal to have.</li>

        <li>All of the nearby restaurants see your order, and bid on who can fulfill your order for the cheapest.</li>
        <li>You can then browse through the offers and choose which meal you'd like to accept.</li>
        <li>The meal is delivered right to your door.</li>
      </ol>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How it works (restaurants)</h3>
      <ol>
        <li>Your restaurant is in off-peak hours, and could use some more orders to fill. The stove is hot so why not sell more food!</li>
        <li>Sign up and have your menu uploaded to our site</li>
        <li>Browse through all the different meals people are looking for, matched directly to the meals your restaurant serves.</li>
        <li>Cook the meal, and have it picked up and delivered to the customer for you, via <a href="#">Uber</a>.</li>
      </ol>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}